
@media only screen and  (max-width: 768px){
    .nav-add{
        display: none;
    }
    .search-select{
        display: none;
    }
    .search-input   {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .sign-in{
        display: none;
    }
    .country i{
        display: none;
    }
    .language{
        display: none;
    }
    .return{
        display: none;
    }
    .cart{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .all-panel{
        display: none;
    }
    .option-panel{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    .last-panel{
        display: none;
    }
    .hero-section{
        height: 275px;
        background-image: url(https://i.postimg.cc/1t3DdhN2/herro.jpg);
    }
    .hero-message{
        width: 80%;
        height: 100px;
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: #222f3d;
        color: white;
        padding: 5px;
    }
    .hero-message a{
        color: white;
    }
    .shoping-section{
        background:linear-gradient(#dbecd9,#e3e6e6);
    }
    .box{
        width: 40%;
        height: 275px;
    }
    h2{
        font-size: 1.25rem;
    }
    .shop-img{
        height: 150px;
    }
    .footer2{
        height: 225px;
    }
    .navFooterLine{
        display: none;
    }
    .ul1{
        display: none;
    }
}
